langchain-core
langchain_community
langgraph
langchain
langchain-huggingface
transformers
torch
duckduckgo-search
langchain_groq
ipython
langgraph-supervisor
pypdf
psycopg2-binary
pgvector
langchain-postgres
psycopg[c]
openai
langchain-google-genai
google-generativeai
langchain_google_genai
python-dotenv
sqlalchemy
langchain_experimental